* {
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #000;
    --second-color: #fff; 
    --shadow:rgb(0, 0, 0, 0.2);
    --shadow-hover-black: rgb(0, 0, 0, 0.5);
    --shadow-hover-white: rgba(255, 255, 255, 0.8);
    --rear-color: #ff0000;
}

@media (min-width: 375px) {
    .app {
        max-width: 375px;
    }

    nav {
        width: 130px;
        line-height: 35px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    header, main, footer {
        max-width: 335px;
        padding: 20px;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    li {
        width: calc(335px / 2 - 5px);
        font-weight: bold;
        margin-bottom: 10px;
        text-align: center;
        box-shadow: 0 0 10px 5px var(--shadow)
    }

    .image-product{
        height: calc(335px / 4 - 5px);
        margin-top: 20px;
    }

    li svg {
        margin-bottom: 20px;
    }

    .info-product {
        width: calc(335px / 3 - 5px);
        margin: 10px auto;
    }

    .title-product {
        margin-bottom: 5px;
        font-size: 10px;
    }

    .price-product {
        font-size: 12px;
        color: var(--rear-color);
    }

    li p {
        text-align: center;
    }

    a {
        height: 34px;
    }
    a svg {
        margin: 6px 0;
    }
  }
  
@media (min-width: 425px) {
    .app {
        max-width: 425px;
    }

    header, main, footer {
        max-width: 385px;
    }
}

@media (min-width: 600px) {
    .app {
        max-width: 600px;
    }

    header, main, footer {
        max-width: 560px;
    }
}

@media (min-width: 768px) {
    .app {
        max-width: 768px;
    }

    header, main, footer {
        max-width: 728px;
    }

    nav {
        width: calc(788px / 2);
    }
}

@media (min-width: 1024px) {
    .app {
        max-width: 1024px;
    }

    header, main, footer {
        max-width: 984px;
    }

    li {
        width: calc(984px / 4 - 20px);
        margin-bottom: 20px;
    }

    .info-product {
        width: calc(984px / 5 - 5px);
    }

    .title-product {
        font-size: 14px;
    }

    .price-product {
        font-size: 16px;
    }

    .image-product{
        height: calc(335px / 3 - 5px);
    }

    nav {
        width: calc(1064px / 2);
        font-size: 20px;
    }
}

@media (min-width: 1440px) {
    .app {
        max-width: 1440px;
    }

    header, main, footer {
        max-width: 1400px;
    }

    li {
        width: calc(1400px / 4 - 30px);
        font-size: 16px;
    }

    .info-product {
        width: calc(1400px / 6 - 5px);
    }

    .image-product{
        height: calc(335px / 2 - 5px);
    }

    nav {
        width: calc(1480px / 2);
        font-size: 25px;
    }
}

.app {
    width: 100%;
    margin: 0 auto; 
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

footer, header {
    display: flex;
    justify-content: space-between;
    background: var(--main-color);
    color: var(--second-color);
}

footer .logotype {
    line-height: 65px;
}

.logotype {
    font-size: 30px;
}

a {
    text-decoration: none;
    color: var(--second-color);
    padding: 0 10px 0 10px;
    border-radius: 10px;
    border-color: #fff;
}

a:hover{
    box-shadow: 0 0 10px 5px var(--shadow-hover-white)

}

ul {
    list-style: none;
}

li:hover {
    box-shadow: 0 0 10px 5px var(--shadow-hover-black)
}

svg:hover {
    filter: drop-shadow(0px 1px 1px var(--rear-color));
}

.icon-basket, a {
    cursor: pointer;
}


.container-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 12px;
}

