* {
    margin: 0;
    padding: 0;
}

.app {
    width: 80%;
    padding: 10px 20px;
    margin: 100px auto;
    border: 1px solid #CCC;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
  }
  
.app img {
    width: 130px;
    height: 180px;
    display: block;
    border-radius: 10px;
    padding: 5px;
}

img:hover {
    box-shadow: 0px 0px 5px #000;
}

.swiper {
    width: 755px;
    overflow: hidden;  
}
  
  .swiper ul {
    height: 192px;
    width: 9999px;
    margin: 0;
    padding: 0;
    list-style: none;
    transition: margin-left 250ms;
    font-size: 0;
  }
  
  .swiper li {
    display: inline-block;
    margin-right: 10px;
    border: solid 1px #CCC;
    border-radius: 10px;
  }

  button {
    width: 100px;
    height: 36px;
    border-radius: 10px;
    font-size: 16px;
    margin: auto;
    border: solid 1px #CCC;
    cursor: pointer;
  }

  button:hover {
    background: #000;
    color: #CCC;
  }


  @media screen and (max-width: 1024px) {
    .swiper {
        width: 550px;
    }

    .app img {
        width: 90px;
        height: 130px;
    }

    .swiper ul {
        height: 142px;
    }
  }


  @media screen and (max-width: 768px) {
    .app {
        padding: 10px 0px;
    }

    .swiper {
        width: 402px;
    }

    .app img {
        width: 81px;
        height: 110px;
    }

    .swiper ul {
        height: 122px;
    }

    button {
        width: 70px;
        font-size: 12px;
      }
  }

  @media screen and (max-width: 425px) {
    .swiper {
        width: 250px;
    }

    .app img {
        width: 64px;
        height: 85px;
    }

    .swiper ul {
        height: 97px;
    }

    button {
        width: 40px;
        font-size: 8px;
        height: 16px;
      }
  }

  @media screen and (max-width: 375px) {
    .swiper {
        width: 200px;
    }

    .app img {
        width: 48px;
        height: 70px;
    }

    .swiper ul {
        height: 82px;
    }
  }